.top{
    display: flex;
    margin:20px auto 5px 20px ;
    gap: 30px;    
}

.top a{
    text-decoration: none;
}

.top__recommend a{
    color: #5f5f5f;
}

.top__mylist a{
    color: #5f5f5f;
}

.top a.active{
    color: red;
}

.divider{
    border:none;
    border-top: 1px solid #878787;
    margin: 0;
    width: 100%;
}

.item{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:20px;
    justify-content: flex-start;
}

.item__image{
    margin-left: 30px;
    overflow: hidden;
    position:relative;
}

.item__image img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
}
.item__soldout {
    position: absolute;
    top: 5px;
    left: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 6px;
    border-radius: 4px;
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}

.item_name{
    margin-top: 0;
    font-size: 14px;
}

