.register {
    max-width: 900px;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%)
}

.register-heading {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.form__group {
    margin: 0 auto;
    width: 500px;
}

.form__group-title {
    margin-top: 20px;
}

.form__input--text input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.form__button {
    background-color: #ff5555;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 70px;
    border-radius: 5px
}

.form__error {
    min-height: 25px;
    color: #f00;
    font-size: 16px;
}

.login__link {
    text-align: center;
    margin-top: 30px;
}