/*
  Document
*/
:where(:root) {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
         text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
    word-break: normal;
}

/*
  Sections
*/
:where(body) {
    margin: 0;
}

/*
  Grouping content
*/
:where(hr) {
    height: 0;
    color: inherit;
}

/*
  Text-level semantics
*/
:where(pre) {
    font-family: monospace, monospace;
    font-size: 1em;
}

:where(abbr[title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

/*
  Embedded content
*/
:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/*
  Forms
*/
:where(button, input, select, textarea) {
    font: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

:where(button) {
    cursor: pointer;
}

:where(textarea) {
    resize: vertical;
}

:where([type="search"]) {
    outline-offset: -2px;
}

/*
  Tables
*/
:where(table) {
    border-collapse: collapse;
    border-spacing: 0;
}
